.Nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
  padding: 1vw;
}

.ul {
  display: flex;
  gap: 1vw;
  list-style: none;
}

.li-app {
  text-decoration: none;
  color: black;
}

h1 {
  color: rgb(64, 91, 213);
}

.ul-books {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw;
  list-style: none;
}

.li-books {
  display: flex;
  justify-content: space-between;
}
